.grid-container {
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    font-family: 'Noto Serif Georgian', serif;

    header {
        grid-area: header;
        background: linear-gradient(90deg, #66582f, #62542a, #90782f);
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: fixed;
        top: 0;
        width: 100%;
        .logo {
            margin: 0 0 0 50px;
            height: 84px;
            display: flex;
            align-items: center;
            img {
                min-width: 70px;
                max-width: 70px;
                height: auto;
                display: flex;
            }
        }
        h1 {
            color: rgb(248, 237, 216);
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: auto;
            /* padding: 0 120px 0 0; */
            font-weight: 400;
            font-family: 'Noto Serif Georgian', serif;
        }
        .nav__form {
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
            gap: 1rem;
            margin: 0 50px 0 0;
            input {
                height: 38px;
                width: 230px;
                padding: 10px;
                border: 1px solid #d3d7da;
            }
            input:focus {
                border: 1px solid #777888;
                outline: none;
                transition: all 1s;
            }
            button {
                height: auto;
                width: 24px;
                background: none;
                border: none;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: end;
            }
        }
    }


    main {
        background-color: rgb(234, 234, 234);
        grid-area: main;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        h2 {
            font-family: 'Noto Serif Georgian', serif;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-transform: uppercase;
            color: transparent;
            background-color: #392b03;
            text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.8);
            margin: 134px 0 0 0;
            -webkit-background-clip: text;
                -moz-background-clip: text;
                    background-clip: text;
        }
        .section__img {
            width: 100%;
            justify-content: space-around;
            flex-wrap: wrap;
            :first-child,
            :nth-child(2),
            :nth-child(3),
            :nth-child(4) {
                display: flex;
            }
            li {
                display: flex;
                gap: 10px;
                height: auto;
                padding: 15px;
                .separador {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin-top: 5px;
                    margin-bottom: -10px;
                    p {
                        font-style: italic;
                        font-family: 'Noto Serif Georgian', serif;
                        font-weight: 500;
                        font-size: large;
                        max-width: 100%;
                    }
                    .producto__info {
                        display: flex;
                        flex-direction: column;
                        .btn {
                            display: flex;
                            background-color: #9e822e;
                            border-radius: 4px;
                            color: white;
                            border: 0;
                            padding: 12px;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            width: 100%;
                            cursor: pointer;
                        }
                        .btn:hover {
                            background-color: #91782c;
                        }
                        h3 {
                            font-weight: 500;
                            padding-bottom: 5px;
                            font-size: x-large;
                            font-family: 'Noto Serif Georgian', serif;
                        }
                        h4 {
                            color: #777888;
                            font-weight: 400;
                            font-size: larger;
                            margin-bottom: 3px;
                            font-family: 'Noto Serif Georgian', serif;
                        }
                        a {
                            text-decoration: none;
                        }
                    }
                }
                .a-producto {
                    max-width: 400px;
                    min-width: 400px;
                    height: auto;
                }
            }
        }
    }

    aside {
        grid-area: aside;
        font-family: 'Noto Serif Georgian', serif;
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 40%;
        min-width: 40%;
        margin: 50px;
        .carrito {
            display: flex;
            i {
                font-size: 25px;
                color: rgb(57, 57, 57);
            }
        }
        h2 {
            width: 100%;
            display: flex;
            flex-direction: row;
            text-transform: uppercase;
            color: rgb(57, 57, 57);
            font-family: 'Noto Serif Georgian', serif;
        }
        hr {
            border: none;
            height: 5px;
            background-color: #777777;
        }
        p {
            font-family: 'Noto Serif Georgian', serif;
        }
        .box--comprar-vaciar {
            display: flex;
            gap: 20px;
            .boton {
                background-color: #c80f22;
                border-radius: 7px;
                color: white;
                border: 0;
                padding: 12px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                font-family: sans-serif;
                width: 100px;
                cursor: pointer;
                display: flex;
            }
            .boton:hover {
                opacity: .9;
            }
            .boton2 {
                @extend .boton;
                background-color: #9e822e;
            }
        }
        .aside__ticket {
            display: flex;
            flex-direction: column;
            gap: 5px;
            text-transform: uppercase;
            padding: 15px;
            margin: auto;
            height: 100%;
            h4 {
                text-align: center;
                margin-bottom: 5px;
            }
        }
        .section__img {
            display: flex;
            justify-content: end;
            flex-direction: column;
            :first-child,
            :nth-child(2),
            :nth-child(3),
            :nth-child(4) {
                display: flex;
                flex-direction: row;
            }
            li {
                display: flex;
                gap: 10px;
                width: 100%;
                height: 100%;
                padding: 15px;
                border-radius: 10px 10px;
                border: 1px solid rgb(202, 202, 201);
                margin: 15px 0;
                .producto__info {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    .btn {
                        font-family: sans-serif;
                        display: flex;
                        background-color: #c80f22;
                        border-radius: 7px;
                        color: white;
                        border: 0;
                        padding: 10%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        width: 100px;
                        cursor: pointer;
                    }
                    .btn:hover {
                        opacity: .9;
                    }
                    h3 {
                        font-weight: 500;
                        padding-bottom: 5px;
                        font-size: large;
                    }
                    h4 {
                        color: #777888;
                        font-weight: 400;
                        font-size: smaller;
                        margin-bottom: 3px;
                    }
                    a {
                        text-decoration: none;
                    }
                }
                .a-producto {
                    max-width: 150px;
                    height: 100%;
                }
            }
        }
    }


    .footer {
        grid-area: footer;
        background-color: #3a3a3a;
        width: 100%;
        &-container {
            .footer__contenedor {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: auto;
                .box__footer {
                    display: flex;
                    align-content: center;
                    flex-direction: column;
                    justify-content: start;
                    padding: 50px 50px 20px 50px ;
                    .logo img {
                        width: 70px;
                    }
                    .h2 {
                        color: whitesmoke;
                        font-weight: 600;
                        font-size: 2rem;
                    }
                    h3 {
                        @extend .h2;
                        margin-bottom: 20px;
                    }
                    .box__footer__a {
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                        a {
                            margin-top: 1rem;
                            color: whitesmoke;
                            font-weight: 500;
                            text-decoration: none;
                            gap: 5px;
                            .fab {
                                font-size: 20px;
                            }
                        }
                        a:hover {
                            opacity: .8;
                        }
                    }
                }
            }
            .box__copyright {
                margin: auto;
                text-align: center;
                padding: 0px 40px;
                p {
                    margin: 20px 0;
                    color: whitesmoke;
                    font-weight: 500;
                }
                hr {
                    border: none;
                    height: 1px;
                    background-color: whitesmoke;
                }
            }
        }
    }
}