@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "aside" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  font-family: "Noto Serif Georgian", serif;
}
.grid-container header {
  grid-area: header;
  background: linear-gradient(90deg, #66582f, #62542a, #90782f);
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}
.grid-container header .logo {
  margin: 0 0 0 50px;
  height: 84px;
  display: flex;
  align-items: center;
}
.grid-container header .logo img {
  min-width: 70px;
  max-width: 70px;
  height: auto;
  display: flex;
}
.grid-container header h1 {
  color: rgb(248, 237, 216);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  padding: 0 120px 0 0;
  font-weight: 400;
  font-family: "Noto Serif Georgian", serif;
}
.grid-container main {
  background-color: rgb(234, 234, 234);
  grid-area: main;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.grid-container main h2 {
  font-family: "Noto Serif Georgian", serif;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  color: transparent;
  background-color: #392b03;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.8);
  margin: 134px 0 0 0;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.grid-container main .section__img {
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.grid-container main .section__img :first-child,
.grid-container main .section__img :nth-child(2),
.grid-container main .section__img :nth-child(3),
.grid-container main .section__img :nth-child(4) {
  display: flex;
}
.grid-container main .section__img li {
  display: flex;
  gap: 10px;
  height: auto;
  padding: 15px;
}
.grid-container main .section__img li .separador {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: -10px;
}
.grid-container main .section__img li .separador p {
  font-style: italic;
  font-family: "Noto Serif Georgian", serif;
  font-weight: 500;
  font-size: large;
  max-width: 100%;
}
.grid-container main .section__img li .separador .producto__info {
  display: flex;
  flex-direction: column;
}
.grid-container main .section__img li .separador .producto__info .btn {
  display: flex;
  background-color: #9e822e;
  border-radius: 4px;
  color: rgb(248, 237, 216);
  border: 0;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}
.grid-container main .section__img li .separador .producto__info .btn:hover {
  color: wheat;
}
.grid-container main .section__img li .separador .producto__info h3 {
  font-weight: 500;
  padding-bottom: 5px;
  font-size: x-large;
  font-family: "Noto Serif Georgian", serif;
}
.grid-container main .section__img li .separador .producto__info h4 {
  color: #777888;
  font-weight: 400;
  font-size: larger;
  margin-bottom: 3px;
  font-family: "Noto Serif Georgian", serif;
}
.grid-container main .section__img li .separador .producto__info a {
  text-decoration: none;
}
.grid-container main .section__img li .a-producto {
  max-width: 400px;
  min-width: 400px;
  height: auto;
}
.grid-container aside {
  grid-area: aside;
  font-family: "Noto Serif Georgian", serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 40%;
  min-width: 40%;
  margin: 50px;
}
.grid-container aside .carrito {
  display: flex;
}
.grid-container aside .carrito i {
  font-size: 25px;
  color: #392b03;
}
.grid-container aside h2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  color: rgb(54, 49, 7);
  font-family: "Noto Serif Georgian", serif;
}
.grid-container aside hr {
  border: none;
  height: 10px;
  background-color: #777777;
}
.grid-container aside p {
  font-family: "Noto Serif Georgian", serif;
}
.grid-container aside .box--comprar-vaciar {
  display: flex;
  gap: 20px;
}
.grid-container aside .box--comprar-vaciar .boton, .grid-container aside .box--comprar-vaciar .boton2 {
  background-color: #c80f22;
  border-radius: 7px;
  color: white;
  border: 0;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: sans-serif;
  width: 100px;
  cursor: pointer;
  display: flex;
}
.grid-container aside .box--comprar-vaciar .boton2 {
  background-color: #9e822e;
  color: rgb(248, 237, 216);
}
.grid-container aside .aside__ticket {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-transform: uppercase;
  padding: 15px;
  margin: auto;
  height: 100%;
}
.grid-container aside .aside__ticket h4 {
  text-align: center;
  margin-bottom: 5px;
}
.grid-container aside .section__img {
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.grid-container aside .section__img :first-child,
.grid-container aside .section__img :nth-child(2),
.grid-container aside .section__img :nth-child(3),
.grid-container aside .section__img :nth-child(4) {
  display: flex;
  flex-direction: row;
}
.grid-container aside .section__img li {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 10px 10px;
  border: 1px solid rgb(202, 202, 201);
  margin: 15px 0;
}
.grid-container aside .section__img li .producto__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.grid-container aside .section__img li .producto__info .btn {
  font-family: sans-serif;
  display: flex;
  background-color: #c80f22;
  border-radius: 7px;
  color: white;
  border: 0;
  padding: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100px;
  cursor: pointer;
}
.grid-container aside .section__img li .producto__info h3 {
  font-weight: 500;
  padding-bottom: 5px;
  font-size: large;
}
.grid-container aside .section__img li .producto__info h4 {
  color: #777888;
  font-weight: 400;
  font-size: smaller;
  margin-bottom: 3px;
}
.grid-container aside .section__img li .producto__info a {
  text-decoration: none;
}
.grid-container aside .section__img li .a-producto {
  max-width: 150px;
  height: 100%;
}
.grid-container .footer {
  grid-area: footer;
  background-color: #62542a;
  width: 100%;
}
.grid-container .footer-container .footer__contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.grid-container .footer-container .footer__contenedor .box__footer {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: start;
  padding: 50px 50px 20px 50px;
}
.grid-container .footer-container .footer__contenedor .box__footer .logo img {
  width: 70px;
}
.grid-container .footer-container .footer__contenedor .box__footer .h2, .grid-container .footer-container .footer__contenedor .box__footer h3 {
  color: rgb(248, 237, 216);
  font-weight: 600;
  font-size: 2rem;
}
.grid-container .footer-container .footer__contenedor .box__footer h3 {
  margin-bottom: 20px;
}
.grid-container .footer-container .footer__contenedor .box__footer .box__footer__a {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.grid-container .footer-container .footer__contenedor .box__footer .box__footer__a a {
  margin-top: 1rem;
  color: rgb(248, 237, 216);
  font-weight: 500;
  text-decoration: none;
  gap: 5px;
}
.grid-container .footer-container .footer__contenedor .box__footer .box__footer__a a .fab {
  font-size: 20px;
}
.grid-container .footer-container .footer__contenedor .box__footer .box__footer__a a:hover {
  opacity: 0.8;
}
.grid-container .footer-container .box__copyright {
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}
.grid-container .footer-container .box__copyright p {
  margin: 20px 0;
  color: rgb(248, 237, 216);
  font-weight: 500;
}
.grid-container .footer-container .box__copyright hr {
  border: none;
  height: 1px;
  background-color: rgb(248, 237, 216);
}

@media only screen and (min-width: 501px) and (max-width: 991px) {
  .grid-container main .section__img {
    margin-bottom: 20px;
  }
  .grid-container main .section__img li {
    flex-direction: column;
  }
  .grid-container main .section__img li .separador {
    gap: 20px;
  }
  .grid-container main .section__img li .a-producto {
    max-width: 400px !important;
    min-width: 10px !important;
    height: auto;
    margin: auto;
  }
}
@media only screen and (max-width: 500px) {
  .grid-container header .logo {
    margin: 0;
    height: 74px;
  }
  .grid-container header h1 {
    display: none;
  }
  .grid-container main .section__img {
    margin-bottom: 20px;
  }
  .grid-container main .section__img li {
    flex-direction: column;
  }
  .grid-container main .section__img li .separador {
    gap: 20px;
  }
  .grid-container main .section__img li .a-producto {
    max-width: 400px !important;
    min-width: 10px !important;
    height: auto;
    margin: auto;
  }
  .grid-container aside {
    max-width: 100% !important;
  }
}/*# sourceMappingURL=main.css.map */